.body-searcharea {
    color: green;
    width: 100%;
    background-color: black;
    border-color: green;
    font-size: 30px;
    height: 458px;
}

.search {
    padding-top: 20px;
    width: 1225px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: green;
    background-color: black;
    position: relative;
    left: 13px;
}